:root{
  --ifm-color-primary-lightest: #83B29D;
  --ifm-color-primary-lighter: #6DA58C;
  --ifm-color-primary-light: #66A086;
  --ifm-color-primary: #5b937a;
  --ifm-color-primary-dark: #52846E;
  --ifm-color-primary-darker: #4D7D68;
  --ifm-color-primary-darkest: #406755;
}
